@import-normalize;

@font-face {
  font-family: 'Manrope', sans-serif;
  src: url('../assets/fonts/manrope/Manrope-VariableFont_wght.ttf'),
    url('../assets/fonts/manrope/static/Manrope-Regular.ttf');
}

@font-face {
  font-family: 'Fraunces', serif;
  src: url('../assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf'),
    url('../assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf');
}

body {
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-family: 'Fraunces', serif;
}

html {
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
